#rtd-footer-container {
    margin: 0px !important; /* Prevents unnecessary scroll bars in the navigation */
}

.logo {
    max-width: 50vw;
    min-width: 130px;
}

.bd-page-width {
    width: 100lvw;
    overflow-x: hidden;
    margin: 0;
    }

.bd-header {
    width: 100lvw;
    min-width: 100lvw;
    margin: 0;
    }

.bd-header button.sidebar-toggle {
    padding-bottom: .25rem;
    padding-top: .25rem;
    padding-left: 6px;
    padding-right: 6px;
}

.bd-header button.primary-toggle {
    margin-right: 0.35rem;
    }

@media (min-width: 370px) {
    .bd-header button.primary-toggle {
        margin-right: 1rem;
    }
}

.bd-header button.secondary-toggle {
    margin-right: 0.35rem;
    }

@media (min-width: 370px) {
    .bd-header button.secondary-toggle {
        margin-right: 1rem;
    }
}
